@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
    margin-top: 4rem;
	font-family: 'Fira Code', mono;
	text-align: center;
    background-color: #16161D;
    color: #C8C093;
}
